{% extends 'base.html' %}
{% block titulo %} Cadastrar {% endblock %}
{% block content %}
  <div class="card shadow-sm p-4">
    <h3>Cadastrar Novo Jogo</h3>
    <hr />
    <form method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" name="nome" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Desenvolvedora</label>
        <input type="text" name="dev" class="form-control" />
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Data de Lançamento</label>
          <input type="date" name="data" class="form-control" />
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Gênero</label>
          <input type="text" name="genero" class="form-control" />
        </div>

        <div class="col-md-12 mb-3">
          <label class="form-label">Sinopse</label>
          <textarea name="sinopse" class="form-control"></textarea>
        </div>

        <div class="col-md-12 mb-3">
          <label class="form-label">Imagem</label>
          <input type="file" name="img" class="form-control"> 
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Plataforma</label>
          <input type="text" name="plataforma" class="form-control" />
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Categoria</label>
          <input type="text" name="categoria" class="form-control" />
        </div>
      </div>

      <button type="submit" class="btn btn-success w-100">Salvar Jogo</button>
    </form>
  </div>
{% endblock %}