{% extends 'base.html' %}
{% block titulo %} Main {% endblock %}
{% block content %}
<h1>{{jogo.nome}}</h1>
<img src=" {{url_for('static', filename = 'uploads/' + jogo.img)}}"></td>
<p>Desenvolvedora: {{jogo.dev}}</p>
<p>Data: {{jogo.data}}</p>
<p>Gênero: {{jogo.genero}}</p>
<p>Categorias: {{jogo.cat}}</p>
<p>Plataformas: {{jogo.plat}}</p>

<p>{{jogo.sinopse}}</p>
<a href="{{ url_for('games.editar_jogo', id=jogo.id) }}" class="btn btn-warning">Editar</a>
<form action="{{ url_for('games.excluir_livro', id=jogo.id) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir o jogo {{ jogo.nome }}?');">
      <button type="submit" class="btn btn-danger">Excluir</button>
</form>
{% endblock %}