{% extends 'base.html' %}
{% block titulo %} Editar {% endblock %}
{% block content %}
  <div class="card shadow-sm p-4">
    <h3>Editar Jogo: {{ jogo.nome }}</h3>
    <hr />
    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Nome do Jogo</label>
        <input type="text" name="nome" class="form-control" value="{{ jogo.nome }}" />
      </div>

      <div class="mb-3">
        <label class="form-label">Desenvolvedora</label>
        <input type="text" name="dev" class="form-control" value="{{ jogo.dev }}" />
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Data de Lançamento</label>
          <input type="date" name="data" class="form-control" value="{{ jogo.data }}" />
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Gênero</label>
          <input type="text" name="genero" class="form-control" value="{{ jogo.genero }}" />
        </div>

        <div class="col-md-12 mb-3">
          <label class="form-label">Sinopse</label>
          <textarea name="sinopse" class="form-control" value="{{ jogo.sinopse }}">{{ jogo.sinopse }}</textarea>
        </div>

                <div class="col-md-12 mb-3">
          <label class="form-label">Imagem</label>
          <input type="file" name="img" class="form-control" value="{{ jogo.img }}"> 
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Plataforma</label>
          <input type="text" name="plataforma" class="form-control" value="{{ jogo.plat }}" />
        </div>


        <div class="col-md-6 mb-3">
          <label class="form-label">Categoria</label>
          <input type="text" name="categoria" class="form-control" value="{{ jogo.categoria }}" />
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100">Atualizar Jogo</button>
    </form>
  </div>
{% endblock %}