{% extends 'base.html' %}
{% block titulo %} Cadastrar {% endblock %}
{% block content %}
  <div class="card shadow-sm p-4">
    <h3>Cadastrar Novo Jogo</h3>
    <hr />
    <form method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" name="nome" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Desenvolvedora</label>
        <input type="text" name="dev" class="form-control" />
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Data de Lançamento</label>
          <input type="date" name="data" class="form-control" />
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Gênero</label>
          <input type="text" name="genero" class="form-control" />
        </div>

        <div class="col-md-12 mb-3">
          <label class="form-label">Sinopse</label>
          <textarea name="sinopse" class="form-control"></textarea>
        </div>

        <div class="col-md-12 mb-3">
          <label class="form-label">Imagem</label>
          <input type="file" name="img" class="form-control"> 
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Plataforma</label>
          <input type="text" name="plataforma" class="form-control" />
        </div>

<div class="category-form">

  <div>
    <input type="checkbox" id="cat1" name="categorias" value="1">
    <label for="cat1">Ação</label>
  </div>

  <div>
    <input type="checkbox" id="cat2" name="categorias" value="2">
    <label for="cat2">Aventura</label>
  </div>

  <div>
    <input type="checkbox" id="cat3" name="categorias" value="3">
    <label for="cat3">RPG</label>
  </div>

  <div>
    <input type="checkbox" id="cat4" name="categorias" value="4">
    <label for="cat4">Estratégia</label>
  </div>

  <div>
    <input type="checkbox" id="cat5" name="categorias" value="5">
    <label for="cat5">FPS</label>
  </div>

  <div>
    <input type="checkbox" id="cat6" name="categorias" value="6">
    <label for="cat6">Simulação</label>
  </div>

  <div>
    <input type="checkbox" id="cat7" name="categorias" value="7">
    <label for="cat7">Esportes</label>
  </div>

  <div>
    <input type="checkbox" id="cat8" name="categorias" value="8">
    <label for="cat8">Puzzle</label>
  </div>
    <div>
    <input type="checkbox" id="cat9" name="categorias" value="9">
    <label for="cat9">Promoção</label>
  </div>
    <div>
    <input type="checkbox" id="cat10" name="categorias" value="10">
    <label for="cat10">Destaque</label>
  </div>

</div>

      <button type="submit" class="btn btn-success w-100">Salvar Jogo</button>
    </form>
  </div>
{% endblock %}