{% extends 'base.html' %}
{% block titulo %} Main {% endblock %}
{% block content %}

      <h1>{{jogo.nome}}</h1>
      <img src="{{ url_for('static', filename='uploads/' + jogo.img) }}" id="detail">  </td>
      <p>Desenvolvedora: {{jogo.dev}}</p>
      <p>Data: {{jogo.data}}</p>
      <p>Gênero: {{jogo.genero}}</p>
      <div class="category-container">
        {% for cat in categorias %}
          <span class="category-badge">{{ cat[0] }}</span>
        {% endfor %}
      </div>
      <p>Plataformas: {{jogo.plat}}</p>
      <p>{{jogo.sinopse}}</p>
      <div class="d-flex gap-2">
      <a href="{{ url_for('games.editar_jogo', id=jogo.id) }}" class="btn btn-warning">
      Editar
      </a>

      <form action="{{ url_for('games.excluir_livro', id=jogo.id) }}"
            method="POST"
            onsubmit="return confirm('Tem certeza que deseja excluir o jogo {{ jogo.nome }}?');">
      <button type="submit" class="btn btn-danger">
            Excluir
      </button>
      </form>
      </div>
      <br>
      <br>
     <h3 class="comment-title">Comentários:</h3>

<form method="POST" action="{{ url_for('games.comentar') }}" class="comment-form">
  <textarea name="comentario" class="comment-input" placeholder="Escreva seu comentário..."></textarea>
  <input type="hidden" name="id_jogo" value="{{ jogo.id }}">
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>



{% for comentario in comentarios %}
  <div class="comment-card">
    <p class="comment-author"><strong>Autor:</strong> {{ comentario[2] }}</p>
    <p class="comment-text"><strong>Comentário:</strong> {{ comentario[1] }}</p>

    {% if comentario[3] == session['user_id'] and session.get('usuario') %}
      <form action="{{ url_for('games.excluir_comentario', id=comentario[0]) }}"
            method="POST"
            onsubmit="return confirm('Tem certeza que deseja excluir o comentário?');">
        <input type="hidden" name="id_jogo" value="{{ jogo.id }}">
        <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
      </form>
    {% endif %}
  </div>
{% endfor %}

{%endblock %}