{% extends 'base.html' %}
{% block titulo %} Main {% endblock %}
{% block content %}
<center>
<h1> B3M-V1ND0/4 </h1>
<hr>
<h1> Lançamentos Recentes</h1>
{% for jogo in recentes %}
  <a href="{{url_for('games.detalhe', id= jogo.id)}}">
    <img  class="gameimg" src="{{url_for('static', filename = 'uploads/' + jogo.img)}}">
  </a>
{%endfor%}
<h1> Promoções</h1>
{% for jogo in promocao %}
  <a href="{{url_for('games.detalhe', id= jogo.id)}}">
    <img  class="gameimg" src="{{url_for('static', filename = 'uploads/' + jogo.img)}}">
  </a>
{%endfor%}
<h1> Destaques</h1>
{% for jogo in destaques %}
  <a href="{{url_for('games.detalhe', id= jogo.id)}}">
    <img  class="gameimg" src="{{url_for('static', filename = 'uploads/' + jogo.img)}}">
  </a>
{%endfor%}
</center>

{% endblock %}